<div class="row">
  <div class="col-sm-12">
    <h1>bindings</h1>

    <h3>property binding []</h3>
    <!--teenmos clas clases los estilos no se
    debe usar la interpolacion es el nombre d ela propiedad q se e pone unos braquets se hace un binding a las propiedades-->
    <img src="{{imgurl}}" alt="">
    <!--de esta forma de debe hacer-->
    <img [src]="imgurl"
         [alt]="'imagen de un cachorro'"
         [width]="imagenwidth">


    <p [style.color]="'red'"
       [style.background-color]="'black'"
      [innerText]="'hola amigos'"></p>
    <div [innerHTML]="html"></div>


    <h3>event bindings</h3>
    <!--hace eventos que se utiliza los bingd seutiliza los parentesis
        -->
    <button class="btn btn-block btn-info" (click)="imagenwidth= imagenwidth+20"> aumentar imagen</button>

    <button class="btn btn-block btn-info" (click)="aumentarwidth()"> aumentar imagen</button>

    <h1 (mouseenter)="imagenwidth=imagenwidth-20">restar imagen</h1>




    <h3> ngmodel (two way data bindings)</h3>
    <label for="width">Width</label>

    <input id="width" type="text"
           [(ngModel)]="imagenwidth">
  </div>

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <br>
    <br>
    <br>
    <h1 class="text-center">hola
      <!--directiva if-->
      <span *ngIf ="mostrartitulo">{{titulo}} </span>
      </h1>
    <!--directiva for-->
    <ul>
      <li *ngFor="let numero of arreglonumeros">
        {{numero}}
      </li>
    </ul>
    <ul>
      <li *ngFor="let numero of arreglonumeros; let i =index">
        {{i + 1}} .- Valor del numero:{{numero}}
      </li>
    </ul>

    <p align="center">soy el usuario {{usuario.nombre+'  '+usuario.apellido}}</p>
  </div>
  <div class="col-sm-4"></div>
</div>
